<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mySpring.myapp.mapper.CarWashMapper">

    <!-- 추천 세차장 조회 -->
    <select id="getRecommendedCarWashes" resultType="com.mySpring.myapp.carwash.model.CarWash">
        SELECT washesid AS id,
               washesname AS name,
               washesaddress AS address,
               washesnumber AS phone
        FROM CarWashes
        WHERE ROWNUM &lt;= 10
    </select>

    <!-- 모든 세차장 조회 -->
    <select id="getAllCarWashes" resultType="com.mySpring.myapp.carwash.model.CarWash">
        SELECT washesid AS id,
               washesname AS name,
               washesaddress AS address,
               washesnumber AS phone
        FROM CarWashes
    </select>

	<!-- 강남구 특정 조건 세차장 조회 -->
    <select id="selectCarWashesInGangnam" resultType="com.mySpring.myapp.carwash.model.CarWash">
        SELECT *
		FROM CARWASHES
		WHERE washaddr LIKE '%강남구%'
		AND washtel IS NOT NULL
		AND newyn = 'Y'
    </select>

	<!-- 해당 아이디 세차장 정보 조회 -->
    <select id="selectCarWasheById" resultType="com.mySpring.myapp.carwash.model.CarWash">
        SELECT * FROM CARWASHES WHERE WASHID = #{washId}
    </select>

	<!-- 해당 아이디 스태프 정보 조회 -->
	<select id="selectStaffByWashId" parameterType="int" resultType="com.mySpring.myapp.carwash.model.Staff">
        SELECT  s.*, u.*
        FROM STAFF s
        LEFT JOIN USERS u ON s.USERID = u.USERID
        WHERE s.WASHID = #{washId}
    </select>

</mapper>
