/* 기본 레이아웃 */
#content-area {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#aside {
    width: 300px;
    background-color: #f0f0f5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#content {
    flex-grow: 1;
    padding: 40px 160px;
}

/* 메뉴 스타일 */
#aside ul {
    list-style: none;
    padding: 0;
}

#aside ul li {
    margin-bottom: 15px;
}

#aside ul li a:hover {
    color: #007bff;
}

.ux-link {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

/* 활성화된 링크 스타일 */
.ux-link.active {
    color: #007bff; /* 파란색 */
    font-weight: bold; /* 굵은 글씨 */
    text-decoration: underline; /* 밑줄 */
}