@charset "utf-8";
@import url("beaver.css"); /*비버 작업용 css*/

:root {
	--primary-blue:#004bd5; /*36,103,191*/
	--primary-black: #020C22;
	--gradient-primary: linear-gradient(to top right, rgb(20, 140, 252) 0%, rgba(36, 103, 191, 1) 100%);
	--gradient-primary-hover: linear-gradient(to top right, rgba(36, 103, 191, 1) 0%, rgba(20, 140, 252) 100%);
	--negative: #FF334B;

	/* 배경색 */
	--bg-01: #F8F9FC;
	--bg-02: #F7F8FA;
	--bg-03: #F1F1F1;
	--bg-04: #D9D9D9;
	--bg-readonly: #f8f8f8;
	--bg-disabled: #f8f8f8;
	--contained-disabled: #CCCCCC;
	--contained-dismiss: #888888;
	--fc-black: #020C22;

	--bg-dim-white: rgba(255, 255, 255, 80%);
	--bg-dim-black: rgba(0, 0, 0, 80%);

	/* 보더 및 라인 */
	--line-01: #111111;
	--line-02: #DFE4EA;
	--line-03: #EBEEF2;
	--line-04: #F7F8FA;
	--line-05: #CCCCCC;

	/* 폰트 */
	--ff-default: "Montserrat","NanumSquareNeo", "AppleGothicNeoSD", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Droid sans", "Malgun Gothic", "맑은 고딕", "Helvetica", "Dotum", "돋움", "sans-serif";
	--fc-111: #111;
	--fc-333: #333;
	--fc-666: #666;
	--fc-888: #888;
	--fc-aaa: #AAAAAA; /* disable */
	--fc-ccc: #CCCCCC;
	--fc-fff: #FFFFFF;
	--bg-fff: #fff;
	--bg-white: #FFFFFF;
	--bg-dim-white: rgba(255, 255, 255, 80%);
	--bg-dim-black: rgba(0, 0, 0, 80%);
}

/* 태그 초기화 css */
body, div, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, fieldset, legend, button, p, pre, blockquote, menu, figure, input {margin: 0;padding: 0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display: block;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, select, input, textarea, p, blockquote, th, td, menu, button, a, span, strong, label, header, footer, section, article, aside, nav, hgroup, details, figure, figcaption {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, input, select, textarea, button, option {font-weight: normal;color: inherit;}
pre, code, samp, kbd {font-family: var(--ff-default); font-size: 1rem;}
html, body {font-weight: 400;font-family: var(--ff-default);}
h1, h2, h3, h4, h5, h6, strong, b, th {font-weight: 700;}
h1, h2, h3, h4, h5, h6 {line-height: 1.5;word-break: keep-all;overflow-wrap: break-word;}
em, var, address {font-style: 400;}
ul, ol, li {list-style: none;}
a {color: inherit;text-decoration: none;}

legend, fieldset, button, img {border: 0 none;}
input, select, textarea, button, label, strong, a, time {vertical-align: inherit;}
input, select, textarea, button, option {font-family: var(--ff-default);font-weight: inherit;}
/* input, select, textarea {appearance: none;-webkit-appearance: none;} */
input[type="text"]::-webkit-search-cancel-button {appearance: none;-webkit-appearance: none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none;}
button, select, option {color: inherit;text-transform: none;}
textarea {resize: none;}
caption, legend {position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}
table {border-collapse: collapse;border-spacing: 0;}
button {overflow: visible;text-align: left;cursor: pointer;background: none;}

html,
body {font-size: 1rem;scroll-behavior: smooth;}

html,
body {width: 100%;height: 100%;}
body {display: flex;flex-direction: column;position: relative;min-height: 100%;
	overflow-x: hidden;overflow-y: scroll;color: var(--fc-black);
}

img {vertical-align: middle;}
p {line-height: 1.5;word-break: keep-all;overflow-wrap: break-word;}

/* pc기준 폰트 사이즈 */
h1 {font-size: 2rem;}		/* 32px */
h2 {font-size: 1.75rem;}	/* 28px */
h3 {font-size: 2rem;}  		/* 32px */
h4 {font-size: 1.5rem;} 	/* 24px */
h5 {font-size: 1.25rem;}	/* 20px */
h6 {font-size: 1rem;} 		/* 16px */

/* display shortcut*/
em {color: var(--primary-blue);font-style: normal;}
.gsb-0 {flex-grow: 0;flex-shrink: 0;flex-basis: 0;}
.gsb-1 {flex-grow: 1;flex-shrink: 1;flex-basis: auto;}
.basis-0{flex-basis: 0 !important;}
.strong,
.bold {font-weight: 700;}
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.dsi {display: inline;}
.dsib {display: inline-block;}
.dsb {display: block;}
.dsf {display: flex;}
.dsif {display: inline-flex;}
.fdc {flex-direction: column !important;}
.fdr {flex-direction: row !important;}
.jcc {justify-content: center !important;}
.jcsb {justify-content: space-between !important;}
.jcfs {justify-content: flex-start !important;}
.jcfe {justify-content: flex-end !important;}
.aic {align-items: center !important;}
.aifs {align-items: flex-start !important;}
.aife {align-items: flex-end !important;}
.gap-0 {display: flex;}
.gsb-0 {flex-grow: 0;flex-shrink: 0;flex-basis: 0;}
.gsb-1 {flex-grow: 1;flex-shrink: 1;flex-basis: auto;}


span.icon,
span.label {
	display: inline-block;
	vertical-align: middle;
}

/* a11y 접근성*/
.clipped {position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}
figcaption {position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}
.transparent {opacity: 0 !important;}

/* input */
input:read-only:not(.datepicker),
textarea:read-only {color: var(--fc-666);border-color: #ddd;background-color: var(--bg-readonly);}
input:read-only:not(.datepicker) + .search-button {background-color: var(--bg-readonly);}
input:read-only:focus,
textarea:read-only:focus {outline: 0;}
input:disabled,
textarea:disabled {color: var(--fc-666);border-color: #ddd;background-color: var(--bg-disabled);}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="date"],
textarea {height: 52px;padding: 0 24px;color: var(--fc-111);border: 0;border-radius: 8px;}
input::placeholder,
textarea::placeholder {color: var(--fc-aaa);font-size: 1rem;font-weight: 500;}
textarea {padding: 16px;}
textarea {min-height: 170px;}

:before,
:after {box-sizing: border-box;}

/* 스크롤바 */
::-webkit-scrollbar {width: 8px;--bg: #fff;}
::-webkit-scrollbar-track {border-radius: 0 8px 8px 0;background-color: #fff;}
::-webkit-scrollbar-thumb {border: 2px solid #fff;border-radius: 8px;background-color: #c9c9c9;}

/* jquery ui selectmenu 스크롤바 */
.ui-selectmenu-menu .ui-widget.ui-widget-content::-webkit-scrollbar {width: 6px;padding: 0 10px;}
.ui-selectmenu-menu .ui-widget.ui-widget-content::-webkit-scrollbar-thumb {border-radius: 3px;background-color: #ccc;}
.ui-selectmenu-menu .ui-widget.ui-widget-content::-webkit-scrollbar-track {background-color: transparent;}

.container,header,main,section,article,footer {position: relative;}



/* ************************************ 폼 ************************************ */
/* ************************************ 폼 ************************************ */

.ui-form {width: 100%;}
.ui-form.sign {width: 540px;} /* 회원가입, 로그인 */

.ui-form ul {display: flex;flex-direction: column;gap: 20px;}
.ui-form ul li {display: flex;flex-wrap: nowrap;gap: 16px;}
.ui-form ul li .ux-button-bar:only-of-type{margin-top: 20px;}

.ui-form ul li .field {flex-grow:1;flex-shrink: 1; flex-basis: auto;}
.ui-form .field {display: flex; align-items: flex-start;}
.ui-form .field > .label {flex-grow: 0;flex-shrink: 0;flex-basis: 120px; padding: 14px 0; color: var(--fc-333);}
.ui-form .field .label:not(.clipped) + .ui-input {margin-left: 24px;}
.ui-form .field .ui-input {flex-grow: 1; flex-shrink: 1;flex-basis: auto;}

.ui-form.login {width: 100%;}
.ui-form.login ul li {justify-content: center;}
.ui-form.login ul li .ux-divider{margin: 12px 0 16px 0;}

/* 모디 */
.ui-form ul li.modi {}
.ui-form ul li.modi .ux-button-bar{flex-basis: 180px;}


/* ************************************ 인풋 ************************************ */
/* ************************************ 인풋 ************************************ */

/* 인풋 요소 초점 시각화 */
.ui-input .input {transition: box-shadow .2s ease;}
.ui-input .inputs.outlined:before,
.ui-input .input.outlined:before {
  position: absolute;top: 0;right: 0;bottom:0;left: 0;
  border-radius: 8px;box-shadow: 0 0 0 1px var(--line-02) inset;
  pointer-events: none;
  transition: all .3s ease;content: "";
  z-index: 11;
}
.field .input legend,
.field .input input,
.field .input select,
.field .input textarea:focus {outline: 0;}
.field .inputs.outlined:focus-within:before,
.field .input.outlined:focus-within:before {box-shadow: 0 0 0 2px rgba(36,103,191, .9) inset;}
.ui-input.err .inputs.outlined:before,
.ui-input .inputs.outlined.err:before,
.ui-input.err .input.outlined:before,
.ui-input .input.outlined.err:before {box-shadow: 0 0 0 2px var(--negative) inset !important;}

.ui-input .input .icon.valid {display: none;position: absolute;top: 16px;right: 16px;width: 20px;height: 20px;}
.ui-input .input .ui-selectmenu-button + .icon.valid {right: 48px;}
.ui-input .input .avail-button + .icon.valid {right: 102px;}
.ui-input .input .delete-button + .icon.valid {right: 44px;}
.ui-input .input .suffix.won + .icon.valid {right: 40px;}
.ui-input .input .suffix.percent + .icon.valid {right: 40px;}
.ui-input .input .suffix.monthes + .icon.valid {right: 56px;}
.ui-input .msg .valid {display: none;}
.ui-input.err .input .icon.valid,
.ui-input.err .msg .valid {display: block;}
.ui-input .input.err .icon.valid,
.ui-input .input.err + .msg .valid {display: block;}
.ui-input.err .input .icon.valid,
.ui-input .input.err .icon.valid {background-image: url("../images/common/icn_input_error.svg");background-repeat: no-repeat;background-position: 50% 50%;}
.ui-input.err .msg .valid {color: var(--negative);}
.ui-input .input.err + .msg .valid {color: var(--negative);}


.ui-input .inputs:not(.fromto-date) {display: flex;align-items: center;gap: 16px;position: relative;}
.ui-input .input {display: flex;align-items: center;gap: 16px;position: relative;}
.ui-input .input.dsif {display: inline-flex;}
.ui-input .input.outlined {border-radius: 8px;}
.ui-input .input.readonly {background-color: var(--bg-readonly);}
.ui-input .input.disabled {background-color: var(--bg-disabled);}
.ui-input .input > div + div {margin-top: 8px;}
.ui-input .input > input[type="text"],
.ui-input .input > input[type="password"],
.ui-input .input > input[type="number"],
.ui-input .input > input[type="search"],
.ui-input .input > input[type="date"],
.ui-input .input > .ui-selectmenu-button,
textarea {font-size: 1rem;font-weight: 500;flex-grow: 1;flex-shrink: 1;flex-basis: auto;}
.ui-input .input span.at,
.ui-input .input span.dash {padding: 0 8px;}
.ui-input .input .custom-text.custom-file{position: relative;padding: 0 52px 0 108px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ui-input .input .custom-text.custom-file:read-only{background-color: var(--bg-white);}
.ui-input .input .avail-button{
  position: absolute;right: 16px;height: 32px;
  font-size: .875rem;padding: 0 12px;
  border-radius: 16px;background-color: var(--bg-01);
}
.ui-input .input .file-button{
  position: absolute;left: 16px;top: 50%;height: 32px;
  display: flex;align-items: center;justify-content: center;
  font-size: .875rem;padding: 0 12px;border: 1px solid var(--line-02);
  border-radius: 16px;background-color: var(--bg-01); transform: translateY(-50%); cursor: pointer;
}
.ui-input .input .delete-button {
  position: absolute; right: 16px; top: 50%; transform: translateY(-50%);
  width: 20px; height: 20px; background-image: url("../images/common/icn_popup_close.svg");background-position: 0 0;background-repeat: no-repeat;background-size: cover;}
.ui-input .input .delete-button .label{position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}
/* .ui-input > div + div {margin-top: 8px;} */
.ui-input > .inputs + .msg,
.ui-input > .input + .msg,
.ui-input > .outputs + .msg,
.ui-input > .output + .msg {margin-top: 0;}
.ui-input .msg {font-size: .875rem;color: #939393;}
.ui-input .msg p {line-height: 1.8;}
.ui-input .msg p:first-of-type {margin-top: 8px;}

.ui-input .input.address-search {flex-grow: 1;flex-shrink: 1;flex-basis: auto;background: var(--bg-fff);overflow: hidden;}

.ui-input .output {min-height: 52px;color: var(--fc-888);padding: 14px 0;}

.h4 + .button-bar {margin-top: 60px;}
.ui-input .input.fdc .custom-rc {align-items:center; height:40px;}

/* 입력폼: 주소 */
.ui-input.address .inputs.primary .zip {flex-basis: 200px;flex-grow: 0;flex-shrink: 0;}
.ui-input.address .inputs.primary .address-search {flex-grow: 1;flex-shrink: 1;flex-basis: auto;}

/* 입력폼:라디오 세로형 */
.ui-input .input.fdc.aifs .custom-rc:not(.p100) + .custom-rc {margin-left: 0;}
.ui-input .input.fdc.aifs .custom-rc input[type="text"] {position: static;border: 1px solid #000;}
.ui-input .input.fdc.aifs .custom-radio + .input {margin-left: 8px;}


/* ************************************ 버튼 **************************************** */
/* ************************************ 버튼 **************************************** */

.ux-button-bar {display: flex;justify-content: space-between; align-items: center;gap: 16px;}
.ux-button-bar.center {justify-content: center;}
.ux-button-bar.column {flex-direction : column; justify-content: center; align-items: center;gap: 20px;}
.ux-button-bar.column .ux-button:not(.text-button) {width: 100%;}
.ux-button-bar .ux-button:not(.button-table,.button-rang,.text-button) {flex-grow: 1; flex-shrink: 1;flex-basis: auto;}

.ux-button {display: inline-flex;justify-content: center;align-items: center;position: relative;
	min-width: 0;padding: 0 8px;font-size: 1rem;line-height: normal;text-transform:none;
	background: none;background-color: transparent;border-radius: 8px;cursor: pointer;overflow: hidden;
}
.ux-button:focus {outline: auto;outline-offset: -2px;}
.ux-button .icon,
.ux-button .label {position: relative;}
.ux-button .label {color: var(--fc-01);white-space: nowrap;}
.ux-button .label strong {vertical-align: baseline;}

.ux-button:before {z-index: 1;}
.ux-button .icon,
.ux-button .label {z-index: 2;}

.ux-button .icon {width: 24px;height: 24px;}
.ux-button .label + .icon,
.ux-button .icon + .label {margin-left: 8px;}

.ux-button:not(.text-button,.button-table) {height: 52px;font-size: 1rem;font-weight: 400;padding: 0 16px;border-radius: 8px;}
.ux-button.button-table {height: 32px;font-size: 0.875rem;}

/* 버튼 컨테인드 */
.ux-button.contained,
.ux-button.contained:hover .label{color: var(--fc-fff);}
.ux-button.contained:before {
	position: absolute;top: 0;right: 0;bottom: 0;left: 0;overflow: hidden;border-radius: 8px;content: "";
}
.ux-button.contained.primary {background-color: var(--primary-blue);background-image: var(--gradient-primary);}
.ux-button.contained.primary:before {background-image: var(--gradient-primary-hover);opacity: 0;transition: all .4s ease;}
.ux-button.contained.primary:hover:before {opacity: 1;}

.ux-button.contained.remove {background-color: var(--negative);}
.ux-button.contained.cancel {background-color: orange;}

.ux-button.contained.disabled {color: var(--fc-666);background-color: var(--contained-disabled);background-image: none;pointer-events: none;}
.ux-button.contained.disabled:before {display: none;}

/* 버튼 아웃라인 */
.ux-button.outlined {background-color: var(--bg-white);border: 1px solid var(--line-05);}
.ux-button.outlined.disabled {opacity: .4;pointer-events: none;}
.ux-button.contained,
.ux-button.outlined {transition: all .2s ease;}

.ux-button.contained:hover,
.ux-button.outlined:hover {
	box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, .16);color: inherit;
	color:inherit;
}

/* 소셜버튼 */
.ux-button.social {justify-content: flex-start;}
.ux-button.social .icon{width: 18px;height: 18px;}
.ux-button.social .label{flex-grow: 1;text-align: center;}
.ux-button.social .icon + .label {margin-left: 0;}
.ux-button.outlined.social.google {}
.ux-button.contained.social.naver {color: var(--fc-fff);background-color: #03C75A;}
.ux-button.contained.social.kakao {color: #3C1E1E;background-color: #FEE500;}

.ux-button.outlined.social .icon,
.ux-button.contained.social .icon {background-size: contain;background-repeat: no-repeat; background-position: center center;}
.ux-button.outlined.social.google .icon{background-image: url('../images/login/google.png');}
.ux-button.contained.social.naver .icon{background-image: url('../images/login/naver.png');}
.ux-button.contained.social.kakao .icon{background-image: url('../images/login/kakao.png');}

/* 텍스트버튼 */
.ux-button.text-button {height: 40px;}
.ux-button.text-button .label {color: var(--fc-333);}
.ux-button.text-button .icon + .label:not(:empty),
.ux-button.text-button .label + .icon {margin-left: 4px;}
.ux-button.text-button .icon.rang { width: 16px;height: 16px; background: rgba(0, 0, 0, .8);
	-webkit-mask-image: url('../images/common/icn_rang_01.svg');-webkit-mask-repeat: no-repeat;-webkit-mask-position: 50% 50%;
}

.ux-button-bar.center .ux-button.text-button + .ux-button.text-button{overflow: visible;}
.ux-button-bar.center .ux-button.text-button + .ux-button.text-button:before {display: block;position: absolute;top: 50%;left: -10px;height: 10px;transform:translateY(-50%);border: 1px solid var(--line-05);;content:'';}

/* 주소입입력란 돋보기버튼 */
.custom-button.search-button {padding: 14px;}
.custom-button.search-button .icon{display: block;width: 20px;height: 20px;background-image: url("../images/common/icn_search.svg");background-repeat: no-repeat;background-position: 0 0;background-size: 100%;}
.custom-button.search-button .label{position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}

/* 파일첨부 */
.ui-file .delete-button{display: none;}
.ui-file.has-file .delete-button{display: block;}



/* ************************************ jquery ui select ************************************ */
/* ************************************ jquery ui select ************************************ */

.ui-button.ui-selectmenu-button {
	display: flex;align-items: center;justify-content: space-between;flex-direction: row-reverse;
	height: 52px;margin: 0;padding: 0 16px;border: 1px solid var(--line-02);border-radius: 8px;background: var(--bg-white);
  }
  .ui-button.ui-selectmenu-button .ui-selectmenu-text{font-weight: 400;color: var(--fc-aaa);}
  .ui-button.ui-selectmenu-button:hover,
  .ui-button.ui-selectmenu-button:focus,
  .ui-button.ui-selectmenu-button:active {background-color:var(--bg-fff);}
  .ui-button.ui-selectmenu-button:active{color: #111;}
  .selectmenu.has-selected ~ .ui-selectmenu-button .ui-selectmenu-text{color: #111;}

  select:read-only + .ui-button.ui-selectmenu-button.ui-state-disabled {color: var(--fc-666);background-color: var(--bg-disabled);opacity: 1;}
  select:read-only + .ui-button.ui-selectmenu-button.ui-state-disabled .ui-selectmenu-icon {opacity: 0;}

  .ui-button .ui-icon.ui-selectmenu-icon,
  .ui-state-hover .ui-icon, .ui-state-focus .ui-icon,
  .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
	  width: 20px;height: 20px;
	  background-image: url('../images/common/icn_dang_select.svg')!important;
	  background-repeat: no-repeat;background-position: 0 0;background-size: 100%;
  }
  .ui-selectmenu-menu .ui-widget.ui-widget-content {
	max-height: 220px;margin: 8px 0;border: 1px solid var(--line-02);border-radius: 8px;box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 5%);
	overflow-y: auto;background-color: var(--bg-fff);
  }

  .ui-selectmenu-menu .ui-menu .ui-menu-item{font-size: 1rem; padding: 14px 12px;font-weight: 400;}
  .ui-selectmenu-menu .ui-menu .ui-menu-item:has(.ui-state-active){background-color: var(--primary-blue); }
  .ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper{padding: 0;color: var(--fc-888);}
  .ui-selectmenu-menu .ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin: 0;}
  .ui-selectmenu-menu .ui-state-active,
  .ui-selectmenu-menu .ui-widget-content .ui-state-active{border: none;background-color:transparent; color: var(--fc-fff);font-weight: 400;}
  .ui-selectmenu-menu .ui-state-disabled {display: none;}




/* ************************************ 아코디언 ************************************ */
/* ************************************ 아코디언 ************************************ */

.ui-accordion {width: 100%;border-top: 1px solid #000;}
.ui-accordion .accordion-get{display: flex;align-items: center;gap: 20px;padding: 24px 40px;border-bottom: 1px solid var(--line-02)}
.ui-accordion .accordion-get:hover{cursor: pointer;}

.ui-accordion .accordion-get .type {display: flex;align-items: center;}
.ui-accordion .accordion-get .type + .title{margin-left: 20px;}
.ui-accordion .accordion-get .type > .icon {display: block;width: 16px;height: auto;}
.ui-accordion .accordion-get .type > .icon img {display: block;width: 100%;vertical-align: top;}
.ui-accordion .accordion-get .type > .label {min-width:110px;font-size: 1.125rem;color: var(--fc-333);}
.ui-accordion .accordion-get .type > .icon + .label {margin-left: 20px;}

.ui-accordion .accordion-get .accordion-title{flex:1;display: flex;justify-content: space-between;align-items: center;}
.ui-accordion .accordion-get .accordion-title .label {font-size: 1.125rem;transition: all .2s ease;}
.ui-accordion .accordion-get .icon.angle{display: block;width:32px;height:32px;background:url("../images/common/icn_dang_select.svg") no-repeat 50% 50%;background-size:cover;transition: all .3s ease;}

.ui-accordion .accordion-set{display: flex;flex-direction: column;border-bottom: 1px solid var(--line-02);}
.ui-accordion .accordion-set .accordion-content {background-color: var(--bg-01);}
.ui-accordion .accordion-set .accordion-content.text {padding: 40px;gap: 0;}
.ui-accordion .accordion-set .accordion-content.text p {font-size: 1.125rem;color: var(--fc-666);}
/* 아코디언 펼침 .accordion-expanded*/
.accordion.accordion-expanded .accordion-get .icon.angle{transform: rotate(-180deg);}
.accordion.accordion-expanded .accordion-get .title .label {font-weight: bold;}





/* ************************************ 공통 레이아웃 **************************************** */
/* ************************************ 공통 레이아웃 **************************************** */

.container {display: flex;flex-direction: column;flex-grow: 1;flex-shrink: 1;flex-basis: auto;gap: 0;}
/* 디폴트 */
header section,
header article,
main,
main section > article > .h3-title,
main section > article > .content,
main section > article > .content > .h4,
main section > article > .content > .h4 .h4-title,
main section > article > .content > .h4 .content{
	display: flex;flex-direction: column;align-items: center;position: relative;
}

main {
	gap: 60px;padding: 212px 0 100px;
	flex-grow: 1;flex-shrink: 1;flex-basis: auto;
}
section,
article {display:flex;flex-direction: column;align-items: center;}

main section {gap:60px;}

main section:only-of-type{min-height: calc(100vh - 112px - 313px - 200px);} /*전체높이 - 헤더높이 - 푸터높이 - 메인(위아래패딩)*/
main section:only-of-type,
main section:first-of-type {}

/* 공통 아티클 가로 너비 정의 : 요청시 수정 */
main section article {gap: 60px;flex-grow: 1;flex-shrink: 1;flex-basis: auto;}
main:not(.ui-sign,.ui-reservation) section article {width: calc(100vw - 640px);min-width: 1280px;}

main section article .h3-title,
main section article .content,
main section article .content .h4,
main section article .content .h4 .h4-title {width: 100%;}

main section article > .content {gap: 40px;flex-grow: 1;flex-shrink: 1;flex-basis: auto;}
main section article > .content > .h4 {gap: 32px;flex-grow: 1;flex-shrink: 1;flex-basis: auto;}
main section article > .content > .h4  .content {gap: 24px;flex-grow: 1;flex-shrink: 1;flex-basis: auto;}

/* 로그인 회원가입 아티클 740px */
main.ui-sign section {justify-content: center;}
main.ui-sign section article {flex-grow:0;width: 740px;padding: 60px 0;border: 1px solid var(--line-02);border-radius: 24px;}
main.ui-sign section article > .content {flex-grow:0;}
main.ui-sign .ux-button-bar{width: 100%;}


.ux-divider { width: 100%;margin: 20px 0;border: 1px solid var(--line-03);}





/* ************************************ 헤더 ************************************ */
/* ************************************ 헤더 ************************************ */

header {position: fixed;top: 0;right: 0;left: 0;transition: all .4s ease;border-bottom: 1px solid var(--line-02); background-color: rgba(255, 255, 255, 0.8);backdrop-filter: blur(10px);}

header section.header-pc {display: flex;align-items: center; justify-content: center;gap:24px;width: 100%;height: 112px;}
header article {display: flex;flex-direction: row;align-items:center;justify-content: space-between;width: calc(100vw - 120px);height: 112px;}
header .logo {display: flex;align-items: center;gap: 12px;height: auto;}
header .logo .h1 {display: flex;align-items: center;width: auto;color: var(--primary-blue);font-size: 2.5rem;font-weight: 800;}

.gnb {display: flex;justify-content: center;gap: 24px;}
.gnb nav{}
.gnb nav ul {display: flex;}
.gnb nav ul .gnb-menu{ display: flex; align-items: center; justify-content: center;position: relative;height: 112px;padding: 0 32px;font-size: 1.2rem;font-weight: 800;font-family: "NanumSquareNeo"; transition: all 0.3s ease-in;}
.gnb nav ul .gnb-menu:after {display: block;position: absolute;left: 50%;bottom: -2px;width:0;height: 3px;background-color: var(--primary-blue);
	transform: translateX(-50%);
	transition: all 0.3s ease;content: '';}
.gnb nav ul .gnb-menu .label{min-width: 76px;text-align: center;}
.gnb nav ul:hover .gnb-menu{padding: 0 48px;}
.gnb nav ul .gnb-menu:hover{color: var(--primary-blue);}
.gnb nav ul .gnb-menu:hover:after {width: 100%;}

.menu-bar {display: flex;align-items: center;}
.menu-bar > ul {display: flex; gap: 12px;}
.menu-bar > ul > li {display: flex; align-items: center; justify-content: center;position: relative;}

/* 어느 세차장 갈까요 버튼 */
.ux-button.custom-search {width: 310px;padding: 0 36px 0 24px;margin-left:40px;background-color:rgba(255,255,255,.7);border: 1px solid var(--line-02);border-radius: 24px;color: var(--fc-666);transition: all 0.3s ease;}
.ux-button.custom-search .icon{width: 16px;height: 16px;color: var(--fc-666);font-size: 16px;}
.ux-button.custom-search .icon + .label{margin-left: 12px;}
.ux-button.custom-search .icon + .label.hidden{color:transparent;}
.ux-button.custom-search:hover{color: var(--primary-blue);border: 1px solid var(--primary-blue);box-shadow: 0 0 0 1px var(--primary-blue) inset;}
.ux-button.custom-search:hover .icon{color: var(--primary-blue);}
.ux-button.custom-search #typeItTitle{position: absolute;left: 52px;top: 16px;}
:root {
	--ti-cursor-margin-left: 0.2rem;
	--ti-cursor-color: var(--primary-blue);
}


/* 로그인, 회원가입 버튼 */
.ux-button.button-sign {height: 24px;padding: 0 8px;color:var(--fc-black);transition: all 0.3s ease;}
.ux-button.button-sign:hover .label {color:var(--primary-blue);font-weight: 700;}

/* 아이콘메뉴 버튼 - 즐겨찾기 */
.ux-button.icon-menu {width: 32px;height: 32px;}
.ux-button.icon-menu .icon {
	display: flex; align-items: center; justify-content: center;width: 32px;height: 32px;
	font-size: 1.5rem;color:var(--fc-888);transition: opacity .3s ease;
}
.ux-button.icon-menu .label {position: absolute!important;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}

/* 아이콘메뉴 버튼 - 종버튼 / 알림 있을 때 .noti-msg*/
.ux-button.icon-menu.bell {width: 48px;height: 48px;border-radius: 50%;transition: all .3s ease;}
.ux-button.icon-menu.bell:hover {background-color:rgba(0,0,0,.07);}

.ux-button.icon-menu.bell .badge {
	display: none;position: absolute;right: 4px;top: 10px;width: 18px;height: 18px;
	color:var(--fc-fff);font-size: 0.8rem;font-weight: 600;text-align: center;
	border-radius: 50%;background-color: var(--primary-blue);box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	z-index: 10;
}
.ux-button.icon-menu.bell .badge .count{line-height: 18px;}
.ux-button.icon-menu.bell.noti-msg .badge {display: block;}

/* 아이콘메뉴 버튼 - 설정버튼 */
.ux-button.icon-menu.gear{}
.ux-button.icon-menu.gear .icon{font-size: 1.125rem;}


/* 프로필 이미지 버튼 */
.ux-button.custom-profile {position: relative;padding: 0 4px;}
.ux-button.custom-profile .label{position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}

/* 드롭다운 - 프로필 영역 */
.user-profile-wrap {display: flex;align-items:center;gap: 16px;position: relative;}
.user-profile-img {width: 40px;height: 40px;border: 1px solid var(--line-02);border-radius: 50%;overflow: hidden;transition:all 0.3s ease;}
.user-profile-img:before {position: absolute;top: -4px;left: -4px;width: 48px;height: 48px;border-radius: 50%;transition:all 0.3s ease;content:'';}
.user-profile-img img{position: relative;}
.user-profile-img:not(.dropdown):hover:before {background-color:rgba(0,0,0,.07);}
.user-profile-img img{width: 100%;height: 100%;object-fit: contain;}

.dropdown-header {padding: 16px;border-bottom: 1px solid var(--line-02);}
.dropdown-header .dropdown-title{display: flex;justify-content: space-between;align-items: center;}

.user-profile-info {}
.user-profile-info .user-name {font-weight: 700;}
.user-profile-info .user-id {max-width:160px;font-size: 0.875rem;color: var(--fc-666);}

/* 드롭다운 */
.dropdown-wrap {position: absolute;left: -190px;top:70px;width: 240px;height: 0;border-radius: 16px;background-color: #fff;box-shadow: 8px 8px 6px rgba(0, 0, 0, .04);transition: all 0.3s ease;opacity: 0;overflow: hidden;}
.dropdown-wrap.expanded {height: auto;border: 1px solid var(--line-02);opacity: 1;}

.dropdown-wrap ul {padding: 0 16px 16px 16px;}
.dropdown-wrap ul li{position: relative;width: 100%;border-radius: 8px;padding-left: 4px;color: var(--fc-666);transition: all 0.3s ease;}
.dropdown-wrap:not(.message) ul li:before{display: none;position: absolute;left: -16px;width: calc(100% + 32px);height: 100%;transition: all 0.3s ease;content:'';}
.dropdown-wrap:not(.message) ul li:hover:before{display: block;background-color: var(--bg-02);}
.dropdown-wrap ul li:hover .label{color: var(--fc-black);}

/* 드롭다운 - 마이페이지*/
.dropdown-wrap.mypage ul li:last-of-type{margin-top: 2px;}
.dropdown-wrap.mypage ul li:last-of-type:after{display: block;position: absolute;left:-16px;top: -1px;width : calc(100% + 32px) ;height: 1px;background-color:var(--line-02);content:'';}

/* 드롭다운 - 아이콘버튼 */
.ux-button.icon-button {width: 100%;justify-content: flex-start;padding-left: 0;}
.ux-button.icon-button .icon{display: flex; align-items: center;justify-content: center;width: 16px;height: 16px;font-size: 16px;color:var(--fc-888);}
.ux-button.icon-button .icon + .label{margin-left: 12px;}

/* 드롭다운 - 알림메세지 */
.dropdown-wrap.message {left: -260px;width: 320px;}
.dropdown-wrap.message p {font-size: 1rem;}
.dropdown-wrap.message ul li {padding: 8px 0;}
.dropdown-wrap.message ul li:hover {}
.dropdown-wrap.message .dropdown-menu{padding: 0 16px;}
.dropdown-wrap.message .dropdown-menu .ux-button.readed{pointer-events: none;}

/* 홈버튼 */
.ux-button.icon-menu.home {width: 48px;height: 48px;border-radius: 50%;transition: all .3s ease;}
.ux-button.icon-menu.home .icon{color: var(--fc-ccc);}
.ux-button.icon-menu.home:hover {background-color:rgba(0,0,0,.07);}
.ux-button.icon-menu.home:hover .icon,
.ux-button.icon-menu.home:active .icon{color: var(--primary-blue);}

/* ************************************ 푸터 ************************************ */
/* ************************************ 푸터 ************************************ */

footer,
footer section,
footer article {position: relative;}
footer section {display: flex;flex-direction: column;align-items: center;font-size: .875rem;color: rgba(255,255,255,.6);background-color: rgba(0,0,0,.9);color:var(--fc-888);}
footer article {display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start;gap: 24px;width: calc(100vw - 380px);padding:60px 32px;}

footer ul,
footer dl,
footer dt,
footer dd,
footer a {display: flex;align-items: center;}
footer li {position: relative;}
footer .link-list {display: flex;justify-content: flex-end;width: 100%;padding-bottom: 24px;border-bottom: 1px solid rgba(255, 255, 255, .2);}
footer .link-list > ul {display: flex;flex-wrap: wrap;align-items: center;gap: 24px;}
footer .link-list > ul > li + li:before {
	position: absolute;top: 50%;left: -12px;width: 1px;height: 10px;transform: translateY(-50%);
	background-color: rgba(255, 255, 255, .2);content: "";
}
footer .link-list > ul > li > .ux-link {color: rgba(255,255,255,.6);line-height: 1rem;}

footer .company-info {display: flex;flex-direction: column;gap: 24px;}
footer .company-info .h1{color: rgba(255,255,255,.6);}
footer .company-info ul {gap: 16px;}
footer .company-info dl {gap: 8px;}
footer .company-info dl dt:empty {display: none;}
footer .company-info dl,
footer .copyright-info dl{line-height:1rem;}
footer .copyright-info dl {gap: 8px;}
footer .copyright-info {opacity: .8;}




/* ************************************ 어드민 레이아웃 **************************************** */
/* ************************************ 어드민 레이아웃 **************************************** */

.admin-container #main {display:flex;min-height: calc(100vh - 138px);padding-top :112px;}
.admin-container header article,
.admin-container footer article {width: calc(100vw - 80px);}

.admin-container header .logo .h1 {font-size: 1.8rem;}

.admin-container footer article {align-items: center;gap: 12px;padding: 40px 0;}
.admin-container footer .company-info .h1{font-size: 1.25rem;}

aside {padding:40px;background-color: var(--bg-01);border: 1px solid var(--line-02);}
aside section article {width: auto;}

aside .admin-menu {display: flex;flex-direction: column;gap: 32px;}
aside .admin-menu .user-info-wrap {}
aside .admin-menu .menu-list .ux-button.text-button {padding: 0;font-weight: 700;}
aside .admin-menu .menu-list.depth2 {padding-left: 16px;font-size: 0.9rem;}
aside .admin-menu .menu-list.depth2 .ux-button.text-button{height: 32px;font-weight: 400;}


.admin-container main {padding:40px 40px 80px;}
.admin-container main.ui-sign {justify-content: center;}
.admin-container main > section,
.admin-container main:not(.ui-sign) > section > article {width:100%;min-width: 0;}
/* .admin-container main > section > article div {width:100%} */

.admin-container .data-grid table td {padding: 12px 16px;}


/* ************************************ z-index **************************************** */
/* ************************************ z-index **************************************** */
header,
.header-pc {z-index: 30;}
main {z-index: 10;}
aside {z-index: 20;}
.dropdown-wrap.message {z-index: 40;}
.dropdown-wrap.mypage {z-index: 50;}

/* 이하 화면 작업중 */