@charset "utf-8";

.mypage-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.info-item:last-child {
    border-bottom: none; /* 마지막 항목의 border-bottom 제거 */
}

.info-item span {
    font-size: 16px;
}

.info-item .label {
    color: #888;
    font-weight: bold;
    width: 150px;  /* 항목명 고정 너비 */
}

.info-item .value {
    color: #333;
    width: calc(100% - 160px);  /* 항목명 너비를 제외한 나머지 공간을 value에 할당 */
    text-align: left;
}

.info-item .value a {
    color: #2467bf;
    text-decoration: none;
}

.info-item .value a:hover {
    text-decoration: underline;
}

img {
    width: 56px;
    height: 56px;
    aspect-ratio: auto 56 / 56;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    width: calc(100% - 160px);
    display: flex;
    align-items: center;
}

/* 수정 버튼 스타일 */
.edit-btn {
    background-color: #2467bf;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.edit-btn:hover {
    background-color: #1a4f88;
}

.edit-btn:focus {
    outline: none;
}




/* 임시 재정의*/
.user-info {width:100%;}

