@charset "utf-8";

.mypage-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.info-item:last-child {
    border-bottom: none; /* 마지막 항목의 border-bottom 제거 */
}

.info-item span {
    font-size: 16px;
}

.info-item .label {
    color: #888;
    font-weight: bold;
    width: 70px;  /* 항목명 고정 너비 */
}

.info-item .value {
    color: #333;
    width: calc(100% - 140px);  /* 항목명 너비를 제외한 나머지 공간을 value에 할당 */
    text-align: left;
}

.info-item .value a {
    color: #2467bf;
    text-decoration: none;
}

.info-item .value a:hover {
    text-decoration: underline;
}

.user-image img {
    width: 60px;
    height: 60px;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
}

/* 수정 버튼 스타일 */
.edit-btn {
    background-color: #2467bf;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.edit-btn:hover {
    background-color: #1a4f88;
}

.edit-btn:focus {
    outline: none;
}



/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* 폼 스타일 */
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form textarea, form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #009879;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #007960;
}


/* 임시 재정의*/
.user-info {width:100%;}

